@import 'compass/css3'

@mixin image-size-by-2($path)
  width: image-width($path) / 2
  height: image-height($path) / 2
*
  margin: 0
  padding: 0

body
  background: white
  color: black
  font-family: "PT Sans", "Trebuchet MS", sans-serif

code, pre
  font-family: "PT Mono", monospace

h1, h2, h3
  font-family: Philosopher, Georgia, serif
  text-align: center
  font-weight: bold

h1
  margin: 25px 0 25px 0
  font-size: 70px
  span
    position: relative
    &::before
      content: ' '
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      //background-color: white
      z-index: 1
  .compass
    position: absolute
    bottom: 15px
    left: 50%
    margin-left: -5px
    +image-size-by-2("dot.png")
    background-size: 100% 100%
    z-index: 2

h2
  margin: 20px 0 15px 0
  font-size: 36px

h3
  margin: 20px 0 10px 0
  font-size: 24px

p, ul
  margin-bottom: 10px

.center
  width: 620px
  max-width: 100%
  margin: 0 auto
  padding: 0 0 10px 0

code
  margin: 0 2px
  padding: 0px 5px
  border: 1px solid #eaeaea
  background-color: #fafafa
  border-radius: 3px
  font-size: 13px

pre
  background-color: #fafafa
  border: 1px solid #ccc
  font-size: 13px
  line-height: 19px
  padding: 6px 10px
  margin-bottom: 10px
  .kd
    font-weight: bold
  .c1, .s1
    color: #555

.meta
  margin: 11px 0 -5px -5px
  a
    display: inline-block
    height: 36px
    line-height: 36px
    color: black
    text-decoration: none
    position: relative
    padding: 0 5px
    +transition(background 200ms)
  .text
    border-bottom: 1px solid #ccc
    +transition(border 200ms)
  .icon
    background-size: 100% 100%
    position: absolute
    top: 4px
    left: 5px
    opacity: 0.85
    +transition(opacity 200ms)
  a:hover
    background: #f0f0f0
    .text
      border-color: black
    .icon
      opacity: 1
  a:active
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4)
  .github
    padding-left: 21px + 15px
    margin-right: 20px
    .icon
      +image-size-by-2("github.png")
  .evil
    padding-left: 39px + 15px
    .icon
      +image-size-by-2("evilmartians.png")
