*
  margin: 0
  padding: 0

body
  background: white
  color: black
  font-family: "PT Sans", "Trebuchet MS", sans-serif

code, pre
  font-family: "PT Mono", monospace

h1, h2, h3
  font-family: Philosopher, Georgia, serif
  text-align: center
  font-weight: bold

h1
  margin: 25px 0 25px 0
  font-size: 70px

h2
  margin: 20px 0 15px 0
  font-size: 36px

h3
  margin: 20px 0 10px 0
  font-size: 24px

p, ul
  margin-bottom: 10px

.center
  width: 620px
  max-width: 100%
  margin: 0 auto
  padding: 0 0 10px 0

code
  margin: 0 2px
  padding: 0px 5px
  border: 1px solid #eaeaea
  background-color: #fafafa
  border-radius: 3px
  font-size: 13px

pre
  background-color: #fafafa
  border: 1px solid #ccc
  font-size: 13px
  line-height: 19px
  padding: 6px 10px
  margin-bottom: 10px
  .kd
    font-weight: bold
  .c1, .s1
    color: #555
